@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-multiple-carousel__arrow {
  min-width: 25px !important;
  min-height: 25px !important;
}

.react-multi-carousel-dot button {
  width: 9px !important;
  height: 9px !important;
  background: #fff;
  border-color: #fff !important;
}

.react-multiple-carousel__arrow::before {
  font-size: 12px !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrDateDisplayWrapper {
  background: #329a9a !important;
  border-radius: 12px;
}